<div class="sticky-header">
  <div class="auto-container">
    <div class="outer-box clearfix">
      <div class="logo-box pull-left">
        <figure class="logo">
          <a [routerLink]="['/home']">
            <img src="./assets/images/logo.png" alt="">
          </a>
        </figure>
      </div>
      <div class="menu-area pull-right">
        <nav class="main-menu clearfix">
          <!--Manter vazio / o menu virá por meio de Javascript-->
        </nav>
      </div>
    </div>
  </div>
</div>
