<app-page-title></app-page-title>


<section class="faq-section alternat-2 sec-pad">

  <div class="auto-container">
    <div class="inner-container">
      <div class="row clearfix">

        <div class="col-lg-6 col-md-6 col-sm-12 image-column">
          <div id="image_block_5">
            <div class="image-box">
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-49.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-38.png);"></div>
                <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-39.png);"></div>
              </div>
              <figure class="image wow slideInLeft animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                <img src="assets/images/resource/faq-1.png" alt="">
              </figure>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 inner-column">
          <div class="inner-box">
            <div class="sec-title mb-30">
              <h5><span>//</span>Dúvidas</h5>
              <h2>A Qualy Club Nordeste retira as suas dúvidas</h2>
            </div>

            <ul class="accordion-box">

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Como faça para ser um Associado? </h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Para fazer a Adesão e se tornar um Associado, você pode utilizar o Link
                      (xxxxxxxxxxxxxxxxxxxxxxxx) e proceder a sua auto adesão, preenchendo o formulário padrão,
                      indicando a opção por um dos planos de rastreamento e proteção veicular (PRPV) oferecidos e
                      enviando, o mesmo, juntamente com cópia, em arquivo PDF, dos documentos requeridos. Após análise
                      de seus documentos a Central Administrativa irá entrar em contato para orientar a conclusão dos
                      procedimentos e integração no quadro de Associados. Você pode ainda, solicitar a sua Adesão
                      através de nosso Consultor Comercial Virtual, via WhatsApp, ou ainda, contactar diretamente um de
                      nossos Consultores Comerciais, presentes em todas as regiões.</p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Mais quais documentos são necessários para Adesão?</h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>A documentação necessária para aderir ao Plano de Rastreamento e Proteção Veicular da Qualy Club
                      Nordeste são:</p>
                    <ul>
                      <li><b class="sec-title-b">a)</b> Ser pessoa física, maior de 18 (dezoito) anos;</li>
                      <li><b class="sec-title-b">b)</b> Declarar a sua decisão de se associar, preenchendo o TERMO DE
                        ADESÃO, assinado ou com
                        aceite eletrônico, fazendo a opção por um dos planos de rastreamento e proteção veicular.</li>
                      <li>Apresentar cópia da CNH (Carteira Nacional de Habilitação) compatível com o veículo protegido;
                      </li>
                      <li><b class="sec-title-b">c)</b> Apresentar cópia da CNH (Carteira Nacional de Habilitação)
                        compatível com o veículo protegido;</li>
                      <li><b class="sec-title-b">d)</b> Apresentar cópia do CRLV (Certificado de Registro e
                        Licenciamento do
                        Veículo) ano corrente, dos veículos a serem incluídos no plano de rastreamento e proteção
                        veicular;</li>
                      <li><b class="sec-title-b">e)</b> Apresentar cópia da nota fiscal do revendedor ou do fabricante,
                        caso
                        o veículo a ser incluído no plano de rastreamento e proteção veicular seja “0 km” (zero
                        quilometro), comprometendo-se a apresentar cópia do CRLV em até 30 dias contados da inclusão,
                        sob pena de Exclusão do plano de rastreamento e proteção veicular e perda da proteção;
                      </li>
                      <li><b class="sec-title-b">f)</b> Apresentar cópia do comprovante de residência do ASSOCIADO;</li>
                      <li><b class="sec-title-b">g)</b> Apresentar cópia da carteira de identidade e do CPF, caso
                        ASSOCIADO
                        seja pessoa física;</li>
                      <li><b class="sec-title-b">h)</b> Apresentar cópia do estatuto social ou contrato social e do
                        cartão
                        do CNPJ, caso o ASSOCIADO seja pessoa jurídica, juntamente com cópias dos documentos pessoais
                        do representante legal (RG, CPF e Comprovante de Residência atualizado);</li>
                    </ul>
                  </div>
                  <br>
                  <b>Observação: em todos os itens acima, nos quais são solicitadas cópias de documentos, o ASSOCIADO
                    poderá ser instado a apresentar os originais para conferência pelo funcionário da ASSOCIAÇÃO.</b>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Como posso acessar o portal do associado?</h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Após ter o seu cadastro aprovado, a Central Administrativa irá lhe fornecer todas as instruções
                      para acesso a área de cliente, como também para baixar e utilizar o APP do Associado Qualy Club,
                      ferramenta que terá à disposição para contado, informações de evento e solicitação de benefícios,
                      bem como para acompanhar e monitorar o seu veículo.</p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Como eu consigo uma cotação para Proteção Veicular?</h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Para receber uma cotação para o seu veículo, basta entrar em contato com um consultor de
                      comercial da Qualy Club Nordeste ou acessar o consultor virtual via WhatsApp, ou ainda fazer o seu
                      auto cadastramento online utilizando o link ( XXXXXXXXXXXXXXX). Temos soluções de rastreamento e
                      proteção para carro, moto e vans (utilitários) com Rastreador Veicular para todos os tipos de
                      veículos, sem restrição de marca, modelo ou ano e sem análise de perfil.</p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Quais coberturas constam dos PRPV da Qualy Club Nordeste?</h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>A <b class="sec-title-b">QUALY CLUB NORDESTE</b> oferece planos específicos para carros, motos e
                      vans (utilitários),
                      formatados em padrão crescente em termos de cobertura de benefícios. Entretanto, dado a nossa
                      vocação em segurança, todos os planos, desde o mais simples ao mais completo, integram o sistema
                      de rastreamento e monitoramento, com garantia de recuperação do veículo, ou indenização, sem
                      nenhuma participação do associado, de seu valor pela tabela <b class="sec-title-b">FIPE</b>,
                      limitado ao teto determinado no
                      plano.</p>
                    <p>Veja mais detalhes na aba <b class="sec-title-b">ASSISTÊNCIAS</b>.</p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Quais os benefícios constam dos PRPV da Qualy Club Nordeste?</h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Sistema de rastreamento e monitoramento veicular, completa Assistência 24 horas, carro reserva,
                      AP Premiado (seguro acidente pessoal), APP (seguro acidente pessoais de passageiros), assistência
                      vidros, assistência residencial, assistência bike, assistência pet e assistência funeral.</p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Qual a diferença entre seguro e associação de proteção veicular?</h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Seguros são serviços realizados pelas seguradoras, ou corretoras de seguros, empresas privadas de
                      sociedade anônima, ou seja, com fins lucrativos.</p>
                    <p>A proteção veicular é realizada por meio de instituições sem fins lucrativos a fim de buscar o
                      menor custo para seus associados.</p>
                  </div>
                </div>
              </li>

            </ul>

          </div>
        </div>
      </div>


      <div class="row clearfix">

        <div class="col-lg-6 col-md-6 col-sm-12 inner-column">
          <div class="inner-box">

            <ul class="accordion-box">

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Meu veículo teve uma pane (elétrica ou mecânica) e se encontra na oficina. Posso solicitar um
                    carro reserva?
                  </h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Não, pois o carro reserva só pode ser solicitado nos casos de colisão, furto, roubo, fenômenos da
                      natureza, incêndio e perda total.</p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Fiz a solicitação de um carro reserva. Qual o prazo para autorização?
                  </h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Nos casos de solicitação de carro reserva, o prazo para liberação é de 03 (três) dias úteis após
                      a documentação completa ser entregue e encaminhada para o setor responsável, ou enviado pelo site.
                    </p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Tive uma colisão e o terceiro foi o causador do evento e realizará o reparo. Posso solicitar o
                    carro reserva?
                  </h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Sim. O associado deve encaminhar a documentação necessária para a abertura da solicitação do
                      carro reserva.</p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Quando posso solicitar o reparo dos vidros?
                  </h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Para o associado solicitar a assistência de vidros, primeiramente ele deve ter em seu plano de
                      Rastreamento e Proteção Veicular a assistência de vidros contratada. Assim, ele pode solicitar
                      reparos parciais para seus vidros (para-brisas, faróis, lanternas, vidro vigia, vidros laterais,
                      retrovisor).</p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Eu tenho acesso ao monitoramento do meu rastreador?
                  </h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Sim, através do APP Rastreador do Associado, no processo de adesão você receberá instruções para
                      baixar e operar o APP, bem como as senhas de acesso.</p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Me associei. Qual o prazo para ficar ativo no sistema da Qualy Club Nordeste após a adesão?</h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>O associado estará ativo na base de dados da Qualy Club Nordeste, podendo acessar a mesma por
                      aplicativo ou direto pelo site (acesso do cliente), em até 48 horas úteis após a conclusão da
                      adesão, que tem por última etapa o procedimento de instalação do equipamento de rastreamento.</p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Como conseguir uma segunda via do boleto?</h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>O associado pode solicitar a segunda via de boleto pelo site da Qualy Club Nordeste ÁREA DO
                      ASSOCIADO, ou através do APP do Associado.</p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Veículos a partir de qual ano são aceitos?</h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>A Qualy Club Nordeste aceita veículos em nossa base com até 14 anos. Confira nosso regulamento e
                      as condições para maiores informações.</p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Como solicitar a Assistência 24 horas ou informar a ocorrência de um roubo ou furto do veículo?
                  </h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Necessitando da Assistência 24 horas ou para requerer providências de pronta resposta para
                      recuperação do veículo se vítima de assalto, ligue para nossa Central de Atendimento que funciona
                      24 horas, através dos telefones:</p>
                    <p>0800 940 2121 ou 0800 940 2122 (utilizar a opção 3 no caso de roubo do veículo).</p>
                    <p><b>Observação: sempre ter os dados necessários para fazer a solicitação e o endereço de onde será
                        realizada a remoção.</b></p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Tive uma colisão com um terceiro! Posso solicitar reboque para o veículo dele?</h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Não, a remoção do veículo é apenas para o Associado Qualy Club Nordeste. A remoção não se aplica
                      ao terceiro.</p>
                    <p><b>Observação: caso o associado solicite o reboque para terceiro, o custo deste acionamento será
                        de responsabilidade do associado.</b></p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Em quais situações posso solicitar o carro reserva?
                  </h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>O carro reserva pode ser solicitado nos casos de colisão, furto, roubo, fenômenos da natureza,
                      incêndio e perda total.</p>
                  </div>
                </div>
              </li>

            </ul>

          </div>
        </div>

      </div>


    </div>
  </div>
</section>


<app-agent-section-alternat></app-agent-section-alternat>
