<app-page-title></app-page-title>


<section class="faq-section alternat-2 sec-pad">

  <div class="auto-container">
    <div class="inner-container">
      <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-12 image-column">
          <div id="image_block_5">
            <div class="image-box">
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-49.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-38.png);"></div>
                <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-39.png);"></div>
              </div>
              <figure class="image wow slideInLeft animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                <img src="assets/images/resource/faq-1.png" alt="">
              </figure>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 inner-column">
          <div class="inner-box">
            <div class="sec-title mb-30">
              <h5><span>//</span>Dúvidas</h5>
              <h2>A Qualy Club Nordeste retira as suas dúvidas</h2>
            </div>

            <ul class="accordion-box">

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Como faça para ser um Associado? </h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Para fazer a Adesão e se tornar um Associado, você pode utilizar o Link
                      (xxxxxxxxxxxxxxxxxxxxxxxx) e proceder a sua auto adesão, preenchendo o formulário padrão,
                      indicando a opção por um dos planos de rastreamento e proteção veicular (PRPV) oferecidos e
                      enviando, o mesmo, juntamente com cópia, em arquivo PDF, dos documentos requeridos. Após análise
                      de seus documentos a Central Administrativa irá entrar em contato para orientar a conclusão dos
                      procedimentos e integração no quadro de Associados. Você pode ainda, solicitar a sua Adesão
                      através de nosso Consultor Comercial Virtual, via WhatsApp, ou ainda, contactar diretamente um de
                      nossos Consultores Comerciais, presentes em todas as regiões.</p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Mais quais documentos são necessários para Adesão?</h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>A documentação necessária para aderir ao Plano de Rastreamento e Proteção Veicular da Qualy Club
                      Nordeste são:</p>
                    <ul>
                      <li><b class="sec-title-b">a)</b> Ser pessoa física, maior de 18 (dezoito) anos;</li>
                      <li><b class="sec-title-b">b)</b> Declarar a sua decisão de se associar, preenchendo o TERMO DE
                        ADESÃO, assinado ou com
                        aceite eletrônico, fazendo a opção por um dos planos de rastreamento e proteção veicular.</li>
                      <li>Apresentar cópia da CNH (Carteira Nacional de Habilitação) compatível com o veículo protegido;
                      </li>
                      <li><b class="sec-title-b">c)</b> Apresentar cópia da CNH (Carteira Nacional de Habilitação)
                        compatível com o veículo protegido;</li>
                      <li><b class="sec-title-b">d)</b> Apresentar cópia do CRLV (Certificado de Registro e
                        Licenciamento do
                        Veículo) ano corrente, dos veículos a serem incluídos no plano de rastreamento e proteção
                        veicular;</li>
                      <li><b class="sec-title-b">e)</b> Apresentar cópia da nota fiscal do revendedor ou do fabricante,
                        caso
                        o veículo a ser incluído no plano de rastreamento e proteção veicular seja “0 km” (zero
                        quilometro), comprometendo-se a apresentar cópia do CRLV em até 30 dias contados da inclusão,
                        sob pena de Exclusão do plano de rastreamento e proteção veicular e perda da proteção;
                      </li>
                      <li><b class="sec-title-b">f)</b> Apresentar cópia do comprovante de residência do ASSOCIADO;</li>
                      <li><b class="sec-title-b">g)</b> Apresentar cópia da carteira de identidade e do CPF, caso
                        ASSOCIADO
                        seja pessoa física;</li>
                      <li><b class="sec-title-b">h)</b> Apresentar cópia do estatuto social ou contrato social e do
                        cartão
                        do CNPJ, caso o ASSOCIADO seja pessoa jurídica, juntamente com cópias dos documentos pessoais
                        do representante legal (RG, CPF e Comprovante de Residência atualizado);</li>
                    </ul>
                  </div>
                  <br>
                  <b>Observação: em todos os itens acima, nos quais são solicitadas cópias de documentos, o ASSOCIADO
                    poderá ser instado a apresentar os originais para conferência pelo funcionário da ASSOCIAÇÃO.</b>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Como posso acessar o portal do associado?</h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Após ter o seu cadastro aprovado, a Central Administrativa irá lhe fornecer todas as instruções
                      para acesso a área de cliente, como também para baixar e utilizar o APP do Associado Qualy Club,
                      ferramenta que terá à disposição para contado, informações de evento e solicitação de benefícios,
                      bem como para acompanhar e monitorar o seu veículo.</p>
                  </div>
                </div>
              </li>

              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>Is there any discout?</h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </li>
              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer"><i class="icon-Plus"></i></div>
                  <h5>How do i open an account?</h5>
                </div>
                <div class="acc-content">
                  <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
