<section class="about-style-four">
  <div class="auto-container">

    <div class="lower-box">
      <div class="text">
        <h2>Nossa missão é proteger as suas conquistas</h2>
        <p>Vantagens Plano Qualy Club Nordeste</p>
        <ul class="list-item clearfix">
          <li>Sem franquia</li>
          <li>Sem análise de perfil e sem burocracia</li>
          <li>Qualquer modelo de van - utilitário</li>
          <li>Pagamento facilitado em 12 x sem juros</li>
          <li>Acompanhamento via Aplicativo</li>
          <li>Bloqueio do veículo, através de sensor de violação antifurto</li>
          <li>Serviço de busca e recuperação – pronta resposta</li>
          <li>Central de Atendimento – 0800 – 24h</li>
          <li>Cobertura em todo território nacional</li>
          <li>Relatórios de posicionamento do Veículo</li>
        </ul>
      </div>
    </div>

  </div>
</section>


<section class="about-style-four">
  <div class="auto-container">

    <div class="lower-box">
      <div class="text">
        <h2>Seja Mais - Seja Qualy Club Nordeste</h2>
        <p>Você ainda pode incrementar seu plano <b class="sec-title-b">QUALY CLUB NORDESTE</b> optando
          por benefícios adicionais como:</p>
        <ul class="list-item clearfix">
          <li>Assistência Carro Reserva (07, 15 ou 30 dias)</li>
          <li>Assistência Vidros (padrã
            o Prata, completo ou plus)</li>
          <li>Seguro acidentes pessoais premiado AP (cobertura de 5, 10, 15, 20, 25 ou 30 mil)</li>
          <li>Seguro acidentes pessoais de passageiros APP (cobertura de 10, 20, 30 ou 50 mil)</li>
          <li>Assistência Residencial (padrão Prata ou completo)</li>
          <li>Assistência PET (padrão Prata, completo ou plus)</li>
          <li>Assistência Funeral – Individual ou Familiar (cobertura de 2, 3 ou 5 Mil)</li>
          <li>Assistência Bike</li>
        </ul>
      </div>
    </div>

  </div>
</section>
