<app-banner-section></app-banner-section>

<app-about-section></app-about-section>

<app-service-section></app-service-section>

<app-chooseus-section></app-chooseus-section>

<app-clients-section></app-clients-section>

<app-agent-section></app-agent-section>

<app-team-section></app-team-section>

<app-testimonial-section></app-testimonial-section>

<app-video-section></app-video-section>

<app-cta-section></app-cta-section>

<app-news-section></app-news-section>

<app-contact-section></app-contact-section>
