<div class="header-lower">
  <div class="auto-container">
    <div class="outer-box clearfix">
      <div class="logo-box pull-left">
        <figure class="logo"><a [routerLink]="['/home']"><img src="./assets/images/logo.png" alt=""></a></figure>
      </div>
      <div class="menu-area pull-right">

        <div class="mobile-nav-toggler">
          <i class="icon-bar"></i>
          <i class="icon-bar"></i>
          <i class="icon-bar"></i>
        </div>
        <nav class="main-menu navbar-expand-md navbar-light">
          <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
            <ul class="navigation clearfix">
              <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/home']">Home</a>
              </li>
              <li class="dropdown" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                <a href="javascript:void(0);">Institucional</a>
                <ul>
                  <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/institucional/sobre-nos']">Sobre Nós</a>
                  </li>
                  <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/institucional/missao']">Missão</a>
                  </li>
                  <li><a href="javascript:void(0);">Números</a></li>
                  <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/institucional/top-of-mind']">Serviços Top Of Mind</a>
                  </li>
                  <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/institucional/faq']">Duvidas</a>
                  </li>
                  <li><a href="javascript:void(0);">Blog</a></li>
                </ul>
              </li>
              <li class="dropdown" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                <a href="javascript:void(0);">Nossos Planos</a>
                <ul>
                  <li><a [routerLink]="['/planos/carro']">Para Carros</a></li>
                  <li><a [routerLink]="['/planos/moto']">Para Motos</a></li>
                  <li><a [routerLink]="['/planos/utilitario']">Para Vans e Utilitários</a></li>
                </ul>
              </li>
              <li class="dropdown" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                <a href="javascript:void(0);">Assistências</a>
                <ul>
                  <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/assistencia/rastreamento']">Rastreamento Qualy Club</a>
                  </li>
                  <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/assistencia/24-horas']">Assistência 24 hs</a>
                  </li>
                  <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/assistencia/carro-reserva']">Carro Reserva</a>
                  </li>
                  <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/assistencia/vidro']">Vidros</a>
                  </li>
                  <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/assistencia/seguro-ap']">Seguro AP</a>
                  </li>
                  <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/assistencia/seguro-app']">Seguro APP</a>
                  </li>
                  <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/assistencia/residencial']">Residencial</a>
                  </li>
                  <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/assistencia/pet']">Pet</a>
                  </li>
                  <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/assistencia/bike']">Bike</a>
                  </li>
                  <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/assistencia/funeral']">Funeral</a>
                  </li>
                </ul>
              </li>
              <li [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/contato']">Contato</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
