<footer class="main-footer">
  <div class="footer-top" style="background-image: url(./assets/images/background/footer-1.jpg);">
    <div class="auto-container">
      <div class="widget-section">
        <div class="row clearfix">
          <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
            <div class="footer-widget about-widget">
              <div class="widget-title">
                <h2>About</h2>
              </div>
              <div class="widget-content">
                <div class="text">
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese runt mollit anim
                    id est laborum Sed.</p>
                </div>
                <ul class="social-links clearfix">
                  <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="index.html"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
            <div class="footer-widget links-widget ml-50">
              <div class="widget-title">
                <h3>Services</h3>
              </div>
              <div class="widget-content">
                <ul class="links-list clearfix">
                  <li><a href="index.html">Car In surance</a></li>
                  <li><a href="index.html">Home Insurance</a></li>
                  <li><a href="index.html">Life Insurance</a></li>
                  <li><a href="index.html">Health Insurance</a></li>
                  <li><a href="index.html">Travels Insurance</a></li>
                  <li><a href="index.html">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
            <div class="footer-widget contact-widget">
              <div class="widget-title">
                <h3>Infomation</h3>
              </div>
              <div class="widget-content">
                <div class="text">
                  <p>Lorem ipsum dolor sit amet, consect adipisicing elit</p>
                </div>
                <ul class="info-list clearfix">
                  <li>
                    <i class="fas fa-map-marker-alt"></i>
                    Melbourne, california 5686 New Work
                  </li>
                  <li>
                    <i class="fas fa-phone"></i>
                    <a href="tel:125659254">+125 ( 659 ) 254</a>
                  </li>
                  <li>
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:information@gmail.com">information@gmail.com</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
            <div class="footer-widget subscribe-widget">
              <div class="widget-title">
                <h3>Subscribe</h3>
              </div>
              <div class="widget-content">
                <div class="text">
                  <p>Lorem ipsum dolor sit amet, consect adipisicing elit eiusmod.</p>
                </div>
                <form action="http://azim.commonsupport.com/Metlife/contact.html" method="post" class="subscribe-form">
                  <div class="form-group">
                    <input type="email" name="email" placeholder="Your Email" required="">
                    <button type="submit"><i class="fas fa-paper-plane"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="auto-container">
      <div class="bottom-inner">
        <div class="copyright">
          <p>&copy; 2020 <a href="index.html">Metlife</a>. All Rights Reserved</p>
        </div>
        <figure class="footer-logo"><a href="index.html"><img src="./assets/images/footer-logo.png" alt=""></a>
        </figure>
        <ul class="footer-nav clearfix">
          <li><a href="index.html">Privace & Policy.</a></li>
          <li><a href="index.html">Faq.</a></li>
          <li><a href="index.html">Terms.</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
