<section class="testimonial-section">
  <div class="pattern-layer" style="background-image: url(./assets/images/shape/pattern-13.png);">
  </div>
  <div class="auto-container">
    <div class="sec-title centred">
      <h5><span>//</span>Depoimentos</h5>
      <h2>O que diz nossos clientes</h2>
    </div>
    <div class="two-column-carousel owl-carousel owl-theme owl-nav-none">

      <div class="testimonial-block-one">
        <div class="inner-box">
          <div class="pattern" style="background-image: url(./assets/images/shape/pattern-12.png);"></div>
          <div class="quote"><i class="icon-Quote"></i></div>
          <div class="text">
            <p>“Gostei demais da assistencia da QualyClub. As vezes que precisei não demorou nada para o socorro chegar.
              Super recomendo!”</p>
          </div>
          <div class="author-info">
            <figure class="author-thumb">
              <img src="./assets/images/testimonial/luiz-carlos.png" alt="testimonial">
            </figure>
            <h3>Luiz Carlos Bezerra</h3>
            <span class="designation">Cliente</span>
          </div>
        </div>
      </div>

      <div class="testimonial-block-one">
        <div class="inner-box">
          <div class="pattern" style="background-image: url(./assets/images/shape/pattern-12.png);"></div>
          <div class="quote"><i class="icon-Quote"></i></div>
          <div class="text">
            <p>“Pessoas de competência inigualável, ótimo atendimento e excelentes planos. Estou muito satisfeita por
              estar associada a QualyClub”</p>
          </div>
          <div class="author-info">
            <figure class="author-thumb">
              <img src="./assets/images/testimonial/maria-gracas.png" alt="testimonial">
            </figure>
            <h3>Maria das Graças Gomes</h3>
            <span class="designation">Cliente</span>
          </div>
        </div>
      </div>

      <div class="testimonial-block-one">
        <div class="inner-box">
          <div class="pattern" style="background-image: url(./assets/images/shape/pattern-12.png);"></div>
          <div class="quote"><i class="icon-Quote"></i></div>
          <div class="text">
            <p>“Sou associado e super satisfeito. Já tive um carro furtado e o atendimento de pronta resposta, bloqueio
              do veículo, localizou e recuperou em menos de 6 horas. Eu indico.”</p>
          </div>
          <div class="author-info">
            <figure class="author-thumb">
              <img src="./assets/images/testimonial/david-melo.png" alt="testimonial">
            </figure>
            <h3>David Melo</h3>
            <span class="designation">Cliente</span>
          </div>
        </div>
      </div>

      <div class="testimonial-block-one">
        <div class="inner-box">
          <div class="pattern" style="background-image: url(./assets/images/shape/pattern-12.png);"></div>
          <div class="quote"><i class="icon-Quote"></i></div>
          <div class="text">
            <p>“Ótimo atendimento e com muito esclarecimento na hora da adesão. Estou muito satisfeito com o plano que
              escolhi.”</p>
          </div>
          <div class="author-info">
            <figure class="author-thumb">
              <img src="./assets/images/testimonial/humberto-abraao.png" alt="testimonial">
            </figure>
            <h3>Humberto Abraão Costa</h3>
            <span class="designation">Cliente</span>
          </div>
        </div>
      </div>

      <div class="testimonial-block-one">
        <div class="inner-box">
          <div class="pattern" style="background-image: url(./assets/images/shape/pattern-12.png);"></div>
          <div class="quote"><i class="icon-Quote"></i></div>
          <div class="text">
            <p>“A QualyClub se vale muito de seu sistema e rastreamento que é muito eficiente, me sinto mais seguro
              depois que fiz a adesão do meu veículo.”</p>
          </div>
          <div class="author-info">
            <figure class="author-thumb">
              <img src="./assets/images/testimonial/diego-amaral.png" alt="testimonial">
            </figure>
            <h3>Diego Amaral</h3>
            <span class="designation">Cliente</span>
          </div>
        </div>
      </div>

      <div class="testimonial-block-one">
        <div class="inner-box">
          <div class="pattern" style="background-image: url(./assets/images/shape/pattern-12.png);"></div>
          <div class="quote"><i class="icon-Quote"></i></div>
          <div class="text">
            <p>“Gente muito profissional e dedicada essa da QualyClub! Foi o melhor pacote de benefícios que encontrei!
              Indico!”</p>
          </div>
          <div class="author-info">
            <figure class="author-thumb">
              <img src="./assets/images/testimonial/camila-stelitano.png" alt="testimonial">
            </figure>
            <h3>Camilla Stelitano</h3>
            <span class="designation">Cliente</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
