<app-page-title></app-page-title>

<section class="about-style-four bg-color-1">
  <div class="auto-container">
    <div class="upper-box">
      <div class="row clearfix">

        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
          <div id="content_block_8">
            <div class="content-box mr-10">
              <div class="sec-title">
                <h5><span>//</span>Sobre</h5>
                <h2>Qualy Club Nordeste</h2>
              </div>
              <div class="text">
                <p>Desde 2018 a <b class="sec-title-b">QUALY CLUB NORDESTE</b> vem reunindo exitosas experiências,
                  integrando parceiros de alto
                  nível de expertise e grande respeitabilidade no mercado, para trazer aos nossos associados, soluções
                  inovadoras em rastreamento e proteção veicular.</p>
                <p>Somos uma associação sem fins lucrativos e todos os recursos são voltados para o bem-estar do
                  associado. A origem da <b class="sec-title-b">QUALY CLUB NORDESTE</b> está ligada aos interesses de
                  seus associados, em fazer
                  parte de um Clube onde, com criatividade, ética e respeito mútuo, oferecemos produtos diferenciados e
                  estruturados para atender, desde as mais modestas as mais sofisticadas exigências, sem abrir mão da
                  proteção de seu patrimônio.</p>
                <p>Nossas soluções se valem da combinação de alta tecnologia com serviços top of mind, para oferecer
                  produtos que proporcionem aos nossos associados, segurança e tranquilidade, a um preço justo.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 image-column">
          <div id="image_block_4">
            <div class="image-box">
              <div class="image-pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-46.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-47.png);"></div>
              </div>
              <figure class="image"><img src="assets/images/resource/about-4.jpg" alt=""></figure>
              <div class="content-inner">
                <div class="pattern" style="background-image: url(assets/images/shape/pattern-45.png);"></div>
                <div class="text">
                  <h3>Qualy Club Nordeste</h3>
                  <p>Se o seu veículo é um instrumento de trabalho, meio de locomoção de sua família ou um sonho
                    conquistado, garanta que ele tenha a proteção da <b class="sec-title-b">QUALY CLUB NORDESTE</b>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>


<section class="service-style-three centred sec-pad">
  <div class="auto-container">
    <div class="sec-title">
      <h5><span>//</span>Somos um Clube de Qualidade</h5>
      <h2>Somos a Qualy Club Nordeste</h2>
    </div>


    <div class="four-item-carousel owl-carousel owl-theme owl-nav-none">

      <div class="service-block-two">
        <div class="inner-box">
          <div class="pattern-layer" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
          <div class="icon-box">
            <i class="fas fa-info"></i>
            <div class="pattern">
              <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-31.png);"></div>
              <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-32.png);"></div>
              <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-33.png);"></div>
              <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-34.png);"></div>
            </div>
          </div>
          <div class="inner">
            <h4><a href="javascript:void(0);">Qualy Club</a></h4>
            <p>Assistencia 24 horas padrão ISO 9001 reconhecida como a melhor do país</p>
          </div>
        </div>
      </div>

      <div class="service-block-two">
        <div class="inner-box">
          <div class="pattern-layer" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
          <div class="icon-box">
            <i class="fas fa-info"></i>
            <div class="pattern">
              <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-31.png);"></div>
              <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-32.png);"></div>
              <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-33.png);"></div>
              <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-34.png);"></div>
            </div>
          </div>
          <div class="inner">
            <h4><a href="javascript:void(0);">Qualy Club</a></h4>
            <p>Central de Atendimento 24 horas, com 300 posições, atendendo diariamente 1.200 ligações, 100% gravadas
            </p>
          </div>
        </div>
      </div>

      <div class="service-block-two">
        <div class="inner-box">
          <div class="pattern-layer" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
          <div class="icon-box">
            <i class="fas fa-info"></i>
            <div class="pattern">
              <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-31.png);"></div>
              <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-32.png);"></div>
              <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-33.png);"></div>
              <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-34.png);"></div>
            </div>
          </div>
          <div class="inner">
            <h4><a href="javascript:void(0);">Qualy Club</a></h4>
            <p>Atendimento em todo território nacional 24 horas por dia, 7 dias por semana, 0800 / WhatsApp</p>
          </div>
        </div>
      </div>

      <div class="service-block-two">
        <div class="inner-box">
          <div class="pattern-layer" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
          <div class="icon-box">
            <i class="fas fa-info"></i>
            <div class="pattern">
              <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-31.png);"></div>
              <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-32.png);"></div>
              <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-33.png);"></div>
              <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-34.png);"></div>
            </div>
          </div>
          <div class="inner">
            <h4><a href="javascript:void(0);">Qualy Club</a></h4>
            <p>98% de Assertividade nos atendimentos</p>
          </div>
        </div>
      </div>

      <div class="service-block-two">
        <div class="inner-box">
          <div class="pattern-layer" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
          <div class="icon-box">
            <i class="fas fa-info"></i>
            <div class="pattern">
              <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-31.png);"></div>
              <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-32.png);"></div>
              <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-33.png);"></div>
              <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-34.png);"></div>
            </div>
          </div>
          <div class="inner">
            <h4><a href="javascript:void(0);">Qualy Club</a></h4>
            <p>Rastreamento via Satélite com equipamentos de última geração</p>
          </div>
        </div>
      </div>

      <div class="service-block-two">
        <div class="inner-box">
          <div class="pattern-layer" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
          <div class="icon-box">
            <i class="fas fa-info"></i>
            <div class="pattern">
              <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-31.png);"></div>
              <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-32.png);"></div>
              <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-33.png);"></div>
              <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-34.png);"></div>
            </div>
          </div>
          <div class="inner">
            <h4><a href="javascript:void(0);">Qualy Club</a></h4>
            <p>Acompanhamento do associado por aplicativo APP Store Google Play</p>
          </div>
        </div>
      </div>

      <div class="service-block-two">
        <div class="inner-box">
          <div class="pattern-layer" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
          <div class="icon-box">
            <i class="fas fa-info"></i>
            <div class="pattern">
              <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-31.png);"></div>
              <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-32.png);"></div>
              <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-33.png);"></div>
              <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-34.png);"></div>
            </div>
          </div>
          <div class="inner">
            <h4><a href="javascript:void(0);">Qualy Club</a></h4>
            <p>Taxa de Recuperação de Veículos roubados de 96%</p>
          </div>
        </div>
      </div>

      <div class="service-block-two">
        <div class="inner-box">
          <div class="pattern-layer" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
          <div class="icon-box">
            <i class="fas fa-info"></i>
            <div class="pattern">
              <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-31.png);"></div>
              <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-32.png);"></div>
              <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-33.png);"></div>
              <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-34.png);"></div>
            </div>
          </div>
          <div class="inner">
            <h4><a href="javascript:void(0);">Qualy Club</a></h4>
            <p>Sistema de Bloqueio do veículo, após o envio do sinal em até 40s</p>
          </div>
        </div>
      </div>

      <div class="service-block-two">
        <div class="inner-box">
          <div class="pattern-layer" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
          <div class="icon-box">
            <i class="fas fa-info"></i>
            <div class="pattern">
              <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-31.png);"></div>
              <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-32.png);"></div>
              <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-33.png);"></div>
              <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-34.png);"></div>
            </div>
          </div>
          <div class="inner">
            <h4><a href="javascript:void(0);">Qualy Club</a></h4>
            <p>Plataforma de benefícios e seguros massificados, suportados por parceiros de referência no mercado</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<app-agent-section-alternat></app-agent-section-alternat>
