<section class="page-title centred" style="background-image: url(assets/images/background/page-title.jpg);">
  <div class="auto-container">
    <div class="content-box">
      <div class="title">
        <h1>Sobre Nós</h1>
      </div>
      <ul class="bread-crumb clearfix">
        <li><a [routerLink]="['/home']">Home</a></li>
        <li>Sobre Nós</li>
      </ul>
    </div>
  </div>
</section>

<section class="about-style-three sec-pad-2">
  <div class="pattern-layer">
    <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-5.png);"></div>
    <div class="pattern-2"></div>
  </div>
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-6 col-md-6 col-sm-12 content-column">
        <div id="content_block_5">
          <div class="content-box mr-100">
            <div class="sec-title">
              <h5><span>//</span>About</h5>
              <h2>Best life insurance company MetLife</h2>
            </div>
            <div class="text">
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt labore dolore
                magna aliqua enim ad minim veniam quis nostrud.</p>
            </div>
            <ul class="list-item clearfix">
              <li>Pina & Associates Insurance</li>
              <li>Payment at Contingency</li>
              <li>Amount of Payment</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 image-column">
        <div id="image_block_4">
          <div class="image-box">
            <div class="image-pattern">
              <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-46.png);"></div>
              <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-47.png);"></div>
            </div>
            <figure class="image"><img src="assets/images/resource/about-4.jpg" alt=""></figure>
            <div class="content-inner">
              <div class="pattern" style="background-image: url(assets/images/shape/pattern-45.png);"></div>
              <div class="text">
                <h3>Best for Custom_<br />ized Plans</h3>
                <p>Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod dolore.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-agent-section-alternat></app-agent-section-alternat>
