<section class="page-title centred" style="background-image: url(./assets/images/background/page-title.png);">
  <div class="auto-container">
    <div class="content-box">
      <div class="title">
        <h1>Contato</h1>
      </div>
      <ul class="bread-crumb clearfix">
        <li><a [routerLink]="['/home']">Home</a></li>
        <li>Contato</li>
      </ul>
    </div>
  </div>
</section>

<section class="contact-style-three">
  <div class="pattern-layer">
    <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-20.png);"></div>
    <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-7.png);"></div>
  </div>
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12 col-sm-12 info-column">
        <div class="info-box">
          <ul class="info-list clearfix">
            <li>
              <i class="fas fa-phone"></i>
              <h4>Telefone</h4>
              <p><a href="tel:8132654238">(81) 3265-4238</a>
              </p>
            </li>
            <li>
              <i class="fas fa-envelope-open"></i>
              <h4>Email</h4>
              <p><a href="mailto:contato@qualyclubnordeste.com.br">contato@qualyclubnordeste.com.br</a></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 form-column">
        <div class="form-inner">
          <h2>Deixe-nos uma mensagem</h2>

          <form class="default-form" [formGroup]="form" autocomplete="on" (ngSubmit)="send(form.value)">
            <div class="row clearfix">
              <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                <input type="text" formControlName="name" name="name" placeholder="Nome *" required minlength="3"
                  maxlength="30">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                <input type="email" formControlName="email" name="email" placeholder="Email *" required minlength="5"
                  maxlength="50">
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                <input type="text" formControlName="phone" name="phone" mask="(00) 00000-0000" placeholder="Celular"
                  required>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                <input type="text" formControlName="subject" name="subject" placeholder="Assunto" required minlength="5"
                  maxlength="30">
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                <textarea formControlName="message" name="message" placeholder="Mensagem..." required minlength="20"
                  maxlength="500"></textarea>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                <button type="submit" class="theme-btn-one" [disabled]="!form.valid">Enviar</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
