<section class="page-title centred" style="background-image: url(./assets/images/background/page-title.jpg);">
  <div class="auto-container">
    <div class="content-box">
      <div class="title">
        <h1>Contato</h1>
      </div>
      <ul class="bread-crumb clearfix">
        <li><a [routerLink]="['/home']">Home</a></li>
        <li>Contato</li>
      </ul>
    </div>
  </div>
</section>

<section class="contact-style-three">
  <div class="pattern-layer">
    <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-20.png);"></div>
    <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-7.png);"></div>
  </div>
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12 col-sm-12 info-column">
        <div class="info-box">
          <ul class="info-list clearfix">
            <li>
              <i class="fas fa-phone"></i>
              <h4>Call for help</h4>
              <p><a href="tel:11165458856">+(111) 65_458_856</a><br /><a href="tel:11165458857">+(111) 65_458_857</a>
              </p>
            </li>
            <li>
              <i class="fas fa-envelope-open"></i>
              <h4>Email drop us</h4>
              <p><a href="mailto:complax@gmail.com">complax@gmail.com</a><br /><a
                  href="mailto:information@gmail.com">information@gmail.com</a></p>
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              <h4>Office location</h4>
              <p>629 12th St, Modesto, CA 95354,United States</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 form-column">
        <div class="form-inner">
          <h2>Deixe-nos uma mensagem</h2>
          <form id="contact-form" method="post" action="#" class="default-form">
            <div class="row clearfix">
              <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                <input type="text" name="username" placeholder="Nome *" required="">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                <input type="email" name="email" placeholder="Email *" required="">
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                <input type="text" name="phone" required="" placeholder="Telefone">
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                <input type="text" name="subject" required="" placeholder="Assunto">
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                <textarea name="message" placeholder="Mensagem..."></textarea>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                <button class="theme-btn-one" type="submit" name="submit-form">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
