<app-page-title></app-page-title>

<section class="about-style-four">
  <div class="auto-container">
    <div class="upper-box">
      <div class="row clearfix">

        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
          <div id="content_block_8">
            <div class="content-box mr-10">
              <div class="sec-title">
                <h5><span>//</span>Assistência 24 Horas</h5>
                <h2>Estamos à disposição a qualquer hora que você precisar</h2>
              </div>
              <div class="text">
                <p>O cliente poderá ter o serviço de Guincho para qualquer emergência para veículos de pequeno e médio
                  porte, sejam carro, moto ou vans (utilitários). Em qualquer plano escolhido, terá direito a até 12
                  solicitações por ano, com serviço disponível em todo o território nacional e atendimento em (Km) do
                  ponto de acionamento, de acordo o plano.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
          <div id="image_block_6">
            <div class="image-box">
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-59.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-60.png);"></div>
              </div>
              <figure class="image">
                <img src="assets/images/resource/assistencia-vinte-quatro-horas.png" alt="">
              </figure>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="lower-box">
      <div class="text">
        <h2>Serviços Disponíveis</h2>
        <ul class="list-item clearfix">
          <li>Socorro Elétrico/Mecânico</li>
          <li>Envio de Combustível (pane seca)</li>
          <li>Troca de Pneu</li>
          <li>Reboque (pane/sinistro)</li>
          <li>Chaveiro Automotivo</li>
          <li>Táxi/Uber</li>
        </ul>
      </div>
    </div>

    <br><br><br>

    <app-information></app-information>

  </div>
</section>

<app-agent-section-alternat></app-agent-section-alternat>
