<app-page-title></app-page-title>

<section class="pricing-section sec-pad centred">
  <div class="auto-container">
    <div class="sec-title centred">
      <h5><span>//</span>Pricing Table</h5>
      <h2>Our offer Price for you!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi <br />dunt ut labore et
        dolore magna aliqua.</p>
    </div>
    <div class="pricign-inner">
      <div class="row clearfix">

        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
          <div class="pricing-block-one">
            <div class="pricing-table">
              <div class="table-header">
                <h3>Básico</h3>
                <div class="price-box">
                  <div class="pattern">
                    <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-53.png);"></div>
                    <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-54.png);"></div>
                  </div>
                  <h2>$499</h2>
                </div>
              </div>
              <div class="table-content">
                <ul>
                  <li>Rastreamento via Satélite com Monitoramento 24 horas</li>
                  <li>Assistência 24 horas 200 Km</li>
                  <li>Garantia de Recuperação ou Indenização</li>
                </ul>
              </div>
              <div class="table-footer">
                <a href="pricing.html" class="theme-btn-one">Buy now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
          <div class="pricing-block-one active-block">
            <div class="pricing-table">
              <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-57.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-58.png);"></div>
              </div>
              <div class="table-header">
                <h3>Prata</h3>
                <div class="price-box">
                  <div class="pattern">
                    <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-55.png);"></div>
                    <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-56.png);"></div>
                  </div>
                  <h2>$599</h2>
                </div>
              </div>
              <div class="table-content">
                <ul>
                  <li>Invoices/Estimates</li>
                  <li>Online Payments</li>
                  <li>Projects and Time Sheet</li>
                  <li>Recurring Transations</li>
                  <li>Client Portal</li>
                </ul>
              </div>
              <div class="table-footer">
                <a href="pricing.html" class="theme-btn-one">Buy now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
          <div class="pricing-block-one">
            <div class="pricing-table">
              <div class="table-header">
                <h3>Professional</h3>
                <div class="price-box">
                  <div class="pattern">
                    <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-53.png);"></div>
                    <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-54.png);"></div>
                  </div>
                  <h2>$699</h2>
                </div>
              </div>
              <div class="table-content">
                <ul>
                  <li>Invoices/Estimates</li>
                  <li>Online Payments</li>
                  <li>Projects and Time Sheet</li>
                  <li>Client Portal</li>
                </ul>
              </div>
              <div class="table-footer">
                <a href="pricing.html" class="theme-btn-one">Buy now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-agent-section-alternat></app-agent-section-alternat>
