<app-page-title></app-page-title>

<section class="about-style-four">
  <div class="auto-container">
    <div class="upper-box">
      <div class="row clearfix">

        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
          <div id="content_block_8">
            <div class="content-box mr-10">
              <div class="sec-title">
                <h5><span>//</span>Rastreamento Qualy Club</h5>
                <h2>A segurança de seu veículo é nosso compromisso</h2>
              </div>
              <div class="text">
                <p>O Sistema de Rastreamento e Monitoramento Veicular da QUALY CLUB, conta com a mais alta tecnologia e
                  figura entre os 10 (dez) mais eficientes do Brasil, com serviços de pronta resposta de alta capacidade
                  de recuperação.</p>
                <p>Com alto padrão em serviços, garantimos maior segurança ao seu patrimônio ao menor custo do mercado,
                  além de indenizar o veículo, seja carro, moto ou van, até o limite determinado pelo plano de sua
                  opção, sem qualquer participação, no caso de roubo ou furto, em que, o mesmo, não venha a ser
                  recuperado.</p>
                <p>Este sistema integra todos os nossos planos, visto que proteção de qualidade é nosso compromisso, e
                  isso, não negociamos.</p>
                <p>Se ligue abaixo nas coberturas proporcionadas por nosso sistema. Mais proteção pelo menor custo.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
          <div id="image_block_6">
            <div class="image-box">
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-59.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-60.png);"></div>
              </div>
              <figure class="image">
                <img src="assets/images/resource/rastreador.png" alt="">
              </figure>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="lower-box">
      <div class="text">
        <h2>Coberturas</h2>
        <ul class="list-item clearfix">
          <li>Proteção no furto e roubo</li>
          <li>Sensor de violação ANTIFURTO via aplicativo</li>
          <li>Monitorado 24 hrs pela Central de Monitoramento Qualy Club</li>
          <li>Equipe própria de recuperação</li>
          <li>Sem perfil de condutores</li>
          <li>Cobertura em todo território nacional</li>
          <li>Visualização do veículo com relatórios de posicionamento diários, semanais e mensais</li>
        </ul>
      </div>
    </div>

    <br><br><br>

    <div class="lower-box">
      <div class="text">
        <h2>Relatórios</h2>
        <ul class="list-item clearfix">
          <li>Posicionamento e acompanhamento atual do veículo</li>
          <li>Rota percorrida</li>
          <li>Relatórios diários, semanais e mensais</li>
          <li>Quilometragem percorrida</li>
          <li>Velocidade média do veículo</li>
          <li>Paradas efetuadas</li>
          <li>Planilhas em Excel</li>
          <li>Relatórios e posicionamentos em até 90 dias</li>
        </ul>
      </div>
    </div>

    <br><br><br>

    <app-information></app-information>

  </div>
</section>

<app-agent-section-alternat></app-agent-section-alternat>
