<ngx-ui-loader></ngx-ui-loader>

<div class="boxed_wrapper">

  <!-- preloader -->
  <!--<div class="loader-wrap">
    <div class="preloader">
      <div id="handle-preloader" class="handle-preloader">
        <div class="animation-preloader">
          <div class="spinner"></div>
          <div class="txt-loading">
            <span data-text-preloader="Q" class="letters-loading">
              Q
            </span>
            <span data-text-preloader="u" class="letters-loading">
              u
            </span>
            <span data-text-preloader="a" class="letters-loading">
              a
            </span>
            <span data-text-preloader="y" class="letters-loading">
              y
            </span>
            <span data-text-preloader="C" class="letters-loading">
              C
            </span>
            <span data-text-preloader="l" class="letters-loading">
              l
            </span>
            <span data-text-preloader="u" class="letters-loading">
              u
            </span>
            <span data-text-preloader="b" class="letters-loading">
              b
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <!-- preloader end -->

  <app-sidebar></app-sidebar>

  <app-header></app-header>

  <app-menu-mobile></app-menu-mobile>

  <router-outlet></router-outlet>

  <app-footer></app-footer>

  <button class="scroll-top scroll-to-target" data-target="html">
    <span class="far fa-arrow-up"></span>
  </button>


</div>
