<p-toast [showTransformOptions]="'translateX(100%)'" [preventOpenDuplicates]="'false'" [position]="'top-right'">
</p-toast>

<ngx-ui-loader></ngx-ui-loader>

<div class="boxed_wrapper">

  <app-sidebar></app-sidebar>

  <app-header></app-header>

  <app-menu-mobile></app-menu-mobile>

  <router-outlet></router-outlet>

  <app-footer></app-footer>

  <button class="scroll-top scroll-to-target" data-target="html">
    <span class="far fa-arrow-up"></span>
  </button>

  <a [href]="whatsappUrl" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>


</div>
