<app-page-title></app-page-title>


<section class="service-style-two sec-pad">
  <div class="anim-pattern" style="background-image: url(assets/images/shape/pattern-20.png);"></div>
  <div class="auto-container">

    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 content-column">
        <div id="content_block_8">
          <div class="content-box mr-10">

            <div class="sec-title centred">
              <h5><span>//</span>Planos</h5>
              <h2>Planos Para Motos</h2>
            </div>

            <div class="text">
              <p>Em caso de roubo ou furto tenha sua mota de volta ou receba até 100% da tabela FIPE se ela não for
                recuperada, limitado ao teto definido em seu plano. Proteção veicular sem burocracia e até 70% mais
                barata que seguro carro tradicional.</p>
              <p>Se for roubado ou furtado, não se preocupe. Você terá sua moto de volta ou será indenizado.</p>
              <p>Como funciona: em caso de roubo ou furto, você aciona a Central de Rastreamento 24h da Qualy Club
                Nordeste que entra imediatamente em ação para localizar, bloquear e recuperar o seu carro. Não havendo
                sucesso na operação, você não fica no prejuízo e recebe até 100% do valor da Tabela FIPE, limitado ao
                teto determinado em seu plano.</p>
              <p>Como funciona: em caso de roubo ou furto, você aciona a Central de Rastreamento 24h da Qualy Club
                Nordeste que entra imediatamente em ação para localizar, bloquear e recuperar a sua moto. Não havendo
                sucesso na operação, você não fica no prejuízo e recebe até 100% do valor da Tabela FIPE, limitado ao
                teto determinado em seu plano.</p>
              <p>Se o seu veículo é um instrumento de trabalho, meio de locomoção de sua família ou um sonho
                conquistado, garanta que ele tenha a proteção da <b class="sec-title-b">QUALY CLUB NORDESTE</b>.</p>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="row clearfix">

      <div class="col-lg-6 col-md-6 col-sm-12 service-block">
        <div class="service-block-two wow fadeInLeft animated animated" data-wow-delay="00ms"
          data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
            <div class="icon-box">
              <i class="fas fa-motorcycle"></i>
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-31.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-32.png);"></div>
                <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-33.png);"></div>
                <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-34.png);"></div>
              </div>
            </div>
            <div class="inner">
              <h3>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#planoBasicoModal">Básico</a>
              </h3>
              <p><b class="sec-title-b">-</b> Rastreamento via satélite com monitoramento 24 horas.</p>
              <p><b class="sec-title-b">-</b> Assistência 24 horas, padrão ISO 9.001, 200 Km.</p>
              <p><b class="sec-title-b">-</b> Garantia de recuperação ou indenização de até 02 salários mínimos.</p>
              <div class="btn-box">
                <a href="javascript:void(0);" class="theme-btn-two" data-toggle="modal"
                  data-target="#planoBasicoModal">Ver Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 service-block">
        <div class="service-block-two wow fadeInLeft animated animated" data-wow-delay="00ms"
          data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
            <div class="icon-box">
              <i class="fas fa-motorcycle"></i>
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-31.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-32.png);"></div>
                <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-33.png);"></div>
                <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-34.png);"></div>
              </div>
            </div>
            <div class="inner">
              <h3>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#planoPrataModal">Prata</a>
              </h3>
              <p><b class="sec-title-b">-</b> Rastreamento via Satélite com Monitoramento 24 horas.</p>
              <p><b class="sec-title-b">-</b> Assistência 24 horas, padrão ISO 9.001, 400 Km e 12 solicitações ano.</p>
              <p><b class="sec-title-b">-</b> Garantia de recuperação ou indenização de até 02 salários mínimos.</p>
              <p><b class="sec-title-b">-</b> Seguro Acidentes Pessoais Premiado AP - Cobertura R$ 10 mil.</p>
              <div class="btn-box">
                <a href="javascript:void(0);" class="theme-btn-two" data-toggle="modal"
                  data-target="#planoPrataModal">Ver Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 service-block">
        <div class="service-block-two wow fadeInLeft animated animated" data-wow-delay="00ms"
          data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
            <div class="icon-box">
              <i class="fas fa-motorcycle"></i>
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-31.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-32.png);"></div>
                <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-33.png);"></div>
                <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-34.png);"></div>
              </div>
            </div>
            <div class="inner">
              <h3>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#planoOuroModal">Ouro</a>
              </h3>
              <p><b class="sec-title-b">-</b> Rastreamento via satélite com monitoramento 24 horas.</p>
              <p><b class="sec-title-b">-</b> Assistência 24 horas, padrão ISO 9.001, 600 Km e 12 solicitações ano.</p>
              <p><b class="sec-title-b">-</b> Garantia de recuperação ou indenização de até 03 salários mínimos.</p>
              <p><b class="sec-title-b">-</b> Seguro Acidentes Pessoais Premiado AP - Cobertura R$ 20 Mil.</p>
              <div class="btn-box">
                <a href="javascript:void(0);" class="theme-btn-two" data-toggle="modal"
                  data-target="#planoOuroModal">Ver Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 service-block">
        <div class="service-block-two wow fadeInLeft animated animated" data-wow-delay="00ms"
          data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
            <div class="icon-box">
              <i class="fas fa-motorcycle"></i>
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-31.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-32.png);"></div>
                <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-33.png);"></div>
                <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-34.png);"></div>
              </div>
            </div>
            <div class="inner">
              <h3>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#planoDiamanteModal">Diamante</a>
              </h3>
              <p><b class="sec-title-b">-</b> Rastreamento via satélite com monitoramento 24 horas.</p>
              <p><b class="sec-title-b">-</b> Assistência 24 horas, padrão ISO 9.001, 1000 Km e 12 solicitações ano.</p>
              <p><b class="sec-title-b">-</b> Garantia de recuperação ou indenização de até 03 salários mínimos.</p>
              <p><b class="sec-title-b">-</b> Seguro Acidentes Pessoais Premiado AP - Cobertura R$ 30 mil.</p>
              <div class="btn-box">
                <a href="javascript:void(0);" class="theme-btn-two" data-toggle="modal"
                  data-target="#planoDiamanteModal">Ver Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>


<!-- Modal Plano Basico-->
<app-moto-plano-basico></app-moto-plano-basico>

<!-- Modal Plano Prata-->
<app-moto-plano-prata></app-moto-plano-prata>

<!-- Modal Plano Ouro-->
<app-moto-plano-ouro></app-moto-plano-ouro>

<!-- Modal Plano Diamante-->
<app-moto-plano-diamante></app-moto-plano-diamante>

<app-agent-section-alternat></app-agent-section-alternat>
