<section class="cta-section">
  <div class="pattern-layer" style="background-image: url(./assets/images/shape/pattern-16.png);"></div>
  <div class="auto-container">
    <div class="inner-container bg-color-2 clearfix">
      <div class="pattern">
        <div class="pattern-1" style="background-image: url(./assets/images/shape/pattern-14.png);"></div>
        <div class="pattern-2" style="background-image: url(./assets/images/shape/pattern-15.png);"></div>
      </div>
      <div class="text pull-left">
        <h2>Not sure what <span>you need?</span></h2>
        <p>Which types of insurance match with your business.</p>
      </div>
      <div class="btn-box pull-right mt-20">
        <a href="index.html" class="theme-btn-one">Learn More</a>
      </div>
    </div>
  </div>
</section>
