<section class="cta-section">
  <div class="pattern-layer" style="background-image: url(./assets/images/shape/pattern-16.png);">
  </div>
  <div class="auto-container">
    <div class="inner-container bg-color-2 clearfix">
      <div class="pattern">
        <div class="pattern-1" style="background-image: url(./assets/images/shape/pattern-14.png);"></div>
        <div class="pattern-2" style="background-image: url(./assets/images/shape/pattern-15.png);"></div>
      </div>
      <div class="text pull-left">
        <h2>Não tem certeza do que <span>você precisa?</span></h2>
        <p>Entre em contato conosco</p>
      </div>
      <div class="btn-box pull-right mt-20">
        <a [routerLink]="['/contato']" class="theme-btn-one">Contato</a>
      </div>
    </div>
  </div>
</section>
