<app-page-title></app-page-title>

<section class="about-style-four">
  <div class="auto-container">
    <div class="upper-box">
      <div class="row clearfix">

        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
          <div id="content_block_8">
            <div class="content-box mr-10">
              <div class="sec-title">
                <h5><span>//</span>Assistência Residencial</h5>
                <h2>A solução para os serviços de urgência em sua residência</h2>
              </div>
              <div class="text">
                <p>Com a assistência residencial o associado conta com uma gama de serviços para atender nos momentos de
                  urgência como: chaveiro, eletricista, encanador, vidraceiro, conserto de eletrodomésticos, cobertura
                  provisória de telhados, hospedagem, guarda domiciliar, mudança e guarda de móveis e serviço de
                  faxineira em caso de hospitalização.</p>
                <p>A assistência residencial é um produto opcional, em que o associado pode agregar ao seu plano,
                  podendo escolher a abrangência dos serviços e limites de cobertura que variam entre as opções básica e
                  completa.</p>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
          <div id="image_block_6">
            <div class="image-box">
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-59.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-60.png);"></div>
              </div>
              <figure class="image">
                <img src="assets/images/resource/residencial.png" alt="">
              </figure>
            </div>
          </div>
        </div>

      </div>
    </div>

    <app-information></app-information>

  </div>
</section>

<app-agent-section-alternat></app-agent-section-alternat>
