<section class="service-section bg-color-1">
  <div class="pattern-layer">
    <div class="pattern-1" style="background-image: url(./assets/images/shape/pattern-5.png);">
    </div>
    <div class="pattern-2"></div>
    <div class="pattern-3" style="background-image: url(./assets/images/shape/pattern-7.png);">
    </div>
  </div>
  <div class="auto-container">
    <div class="sec-title centred">
      <h5><span>//</span>Planos</h5>
      <h2>Nossos Planos</h2>
    </div>

    <div class="row clearfix">

      <div class="col-lg-4 col-md-6 col-sm-12 service-block">
        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="pattern" style="background-image: url(./assets/images/shape/pattern-6.png);"></div>
            <figure class="image-box">
              <img src="./assets/images/service/carro.png" alt="">
            </figure>
            <div class="lower-content">
              <div class="icon-box">
                <i class="fas fa-car"></i>
              </div>
              <h3>
                <a [routerLink]="['/planos/carro']">Carros</a>
              </h3>
              <p>Muito mais proteção com rastreamento 24h, equipamento grátis em comodato, instalação sem custo. Planos
                a partir de R$ 2,18 por dia.</p>
              <div class="btn-box">
                <a [routerLink]="['/planos/carro']" class="theme-btn-two">Veja Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 service-block">
        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="pattern" style="background-image: url(./assets/images/shape/pattern-6.png);"></div>
            <figure class="image-box">
              <img src="./assets/images/service/moto.png" alt="">
            </figure>
            <div class="lower-content">
              <div class="icon-box">
                <i class="fas fa-motorcycle"></i>
              </div>
              <h3>
                <a [routerLink]="['/planos/moto']">Motos</a>
              </h3>
              <p>O melhor custo benefício com rastreamento monitorado por APP e garantia de indenização contra roubo e
                furto. Planos a partir de R$ 1,90 por dia.</p>
              <div class="btn-box">
                <a [routerLink]="['/planos/moto']" class="theme-btn-two">Veja Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 service-block">
        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="pattern" style="background-image: url(./assets/images/shape/pattern-6.png);"></div>
            <figure class="image-box">
              <img src="./assets/images/service/van.png" alt="">
            </figure>
            <div class="lower-content">
              <div class="icon-box">
                <i class="fas fa-truck"></i>
              </div>
              <h3>
                <a [routerLink]="['/planos/vans-utilitarios']">Vans e Utilitários</a>
              </h3>
              <p>Você com a garantia Qualy Club, mais barato que seguro tradicional. Planos a partir de R$ 2,35 por dia.
              </p>
              <div class="btn-box">
                <a [routerLink]="['/planos/vans-utilitarios']" class="theme-btn-two">Veja Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
