<section class="service-section bg-color-1">
  <div class="pattern-layer">
    <div class="pattern-1" style="background-image: url(./assets/images/shape/pattern-5.png);"></div>
    <div class="pattern-2"></div>
    <div class="pattern-3" style="background-image: url(./assets/images/shape/pattern-7.png);"></div>
  </div>
  <div class="auto-container">
    <div class="sec-title centred">
      <h5><span>//</span>Services</h5>
      <h2>We ensure best insurance services <br />for our clients.</h2>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-6 col-sm-12 service-block">
        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="pattern" style="background-image: url(./assets/images/shape/pattern-6.png);"></div>
            <figure class="image-box"><img src="./assets/images/service/service-1.jpg" alt=""></figure>
            <div class="lower-content">
              <div class="icon-box"><i class="icon-icon-1"></i></div>
              <h3><a href="service-details.html">Home Insurance</a></h3>
              <p>Lorem ipsum dolor sit amet, consecte adipisicing elit sed do.</p>
              <div class="btn-box"><a href="service-details.html" class="theme-btn-two">Learn More</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 service-block">
        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="pattern" style="background-image: url(./assets/images/shape/pattern-6.png);"></div>
            <figure class="image-box"><img src="./assets/images/service/service-2.jpg" alt=""></figure>
            <div class="lower-content">
              <div class="icon-box"><i class="icon-icon-2"></i></div>
              <h3><a href="service-details.html">Car insurance</a></h3>
              <p>Lorem ipsum dolor sit amet, consecte adipisicing elit sed do.</p>
              <div class="btn-box"><a href="service-details.html" class="theme-btn-two">Learn More</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 service-block">
        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="pattern" style="background-image: url(./assets/images/shape/pattern-6.png);"></div>
            <figure class="image-box"><img src="./assets/images/service/service-3.jpg" alt=""></figure>
            <div class="lower-content">
              <div class="icon-box"><i class="icon-icon-3"></i></div>
              <h3><a href="service-details.html">Health Insurance</a></h3>
              <p>Lorem ipsum dolor sit amet, consecte adipisicing elit sed do.</p>
              <div class="btn-box"><a href="service-details.html" class="theme-btn-two">Learn More</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="more-btn centred"><a href="service-1.html" class="theme-btn-three">All Services</a></div>
  </div>
</section>
