<section class="chooseus-section">
  <div class="pattern-layer wow slideInRight animated animated" data-wow-delay="500ms" data-wow-duration="1500ms"
    style="background-image: url(./assets/images/shape/pattern-9.png);"></div>
  <div class="outer-container clearfix">
    <div class="bg-column" style="background-image: url(./assets/images/background/chooseus-1.png);"></div>
    <div class="content-column">
      <div class="content-inner">
        <div class="content-box">
          <div class="sec-title">
            <h5><span>//</span>Proque nos escolher?</h5>
            <h4>O que interessa para
              nós é proteger a
              sua conquista.</h4>
          </div>

          <ul class="accordion-box">

            <li class="accordion block active-block">
              <div class="acc-btn active">
                <div class="icon-outer"><i class="icon-Plus"></i></div>
                <h5>Nossa missão é proteger as suas conquistas.</h5>
              </div>
            </li>

            <li class="accordion block active-block">
              <div class="acc-btn active">
                <div class="icon-outer"><i class="icon-Plus"></i></div>
                <h5>Rastreador Veicular com garantia contra
                  roubo e furto em caso de não recuperação.</h5>
              </div>
            </li>

            <li class="accordion block active-block">
              <div class="acc-btn active">
                <div class="icon-outer"><i class="icon-Plus"></i></div>
                <h5>Sem burocracia. Tenha uma proposta rápida
                  sem ter que explicar como utiliza o seu veículo.</h5>
              </div>
            </li>

            <li class="accordion block active-block">
              <div class="acc-btn active">
                <div class="icon-outer"><i class="icon-Plus"></i></div>
                <h5>Pagamento facilitado em até 12x sem juros.</h5>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
