<section class="chooseus-section">
  <div class="pattern-layer wow slideInRight animated animated" data-wow-delay="500ms" data-wow-duration="1500ms"
    style="background-image: url(./assets/images/shape/pattern-9.png);"></div>
  <div class="outer-container clearfix">
    <div class="bg-column" style="background-image: url(./assets/images/background/chooseus-1.jpg);"></div>
    <div class="content-column">
      <div class="content-inner">
        <div class="content-box">
          <div class="sec-title">
            <h5><span>//</span>Why Choose us</h5>
            <h2>Most of the people choose Metlife</h2>
          </div>
          <ul class="accordion-box">
            <li class="accordion block active-block">
              <div class="acc-btn active">
                <div class="icon-outer"><i class="icon-Plus"></i></div>
                <h5>A Fast, Easy Application.</h5>
              </div>
              <div class="acc-content current">
                <div class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                </div>
              </div>
            </li>
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer"><i class="icon-Plus"></i></div>
                <h5>Clients Focused</h5>
              </div>
              <div class="acc-content">
                <div class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                </div>
              </div>
            </li>
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer"><i class="icon-Plus"></i></div>
                <h5>We Can Save You Money.</h5>
              </div>
              <div class="acc-content">
                <div class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
