<app-page-title></app-page-title>

<section class="about-style-four">
  <div class="auto-container">
    <div class="upper-box">
      <div class="row clearfix">

        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
          <div id="content_block_8">
            <div class="content-box mr-10">
              <div class="sec-title">
                <h5><span>//</span>Assistência Funeral</h5>
                <h2>Sua proteção para as horas de pedalagem</h2>
              </div>
              <div class="text">
                <p>Com a assistência funeral o associado garante tranquilidade em momento delicado de sua vida. Apenas
                  com um telefonema, um profissional capacitado resolverá as formalidades administrativas até o que o
                  sepultamento ou cremação sejam realizados para seu ente querido.</p>
                <p>A assistência FUNERAL é um produto opcional, em que o associado pode agregar ao seu plano. Existem
                  dois tipos de cobertura, a individual e a familiar. Enquanto a individual apenas o titular estar
                  coberto, a opção familiar está coberto o titular, seu cônjuge e filhos até 21 anos de idade. O valor
                  limite dos gastos segurados, pode variar de 2 mil, 3 mil ou 5 mil reais conforme opção do associado.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
          <div id="image_block_6">
            <div class="image-box">
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-59.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-60.png);"></div>
              </div>
              <figure class="image">
                <img src="assets/images/resource/funeral.png" alt="">
              </figure>
            </div>
          </div>
        </div>

      </div>
    </div>

    <app-information></app-information>

  </div>
</section>

<app-agent-section-alternat></app-agent-section-alternat>
