<section class="banner-section style-one">
  <div class="banner-carousel owl-theme owl-carousel owl-dots-none nav-style-one">

    <div class="slide-item">
      <div class="image-layer" style="background-image:url(./assets/images/banner/banner-1.jpg)"></div>
      <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(./assets/images/shape/pattern-1.png);"></div>
        <div class="pattern-2" style="background-image: url(./assets/images/shape/pattern-2.png);"></div>
      </div>
      <div class="auto-container">
        <div class="content-inner">
          <div class="pattern" style="background-image: url(./assets/images/shape/pattern-3.png);"></div>
          <h5><span>//</span>Really Life</h5>
          <h1>Execute happiness with Life Insurance.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <a [routerLink]="['/contato']" class="theme-btn-one">Contato</a>
        </div>
      </div>
    </div>

    <div class="slide-item">
      <div class="image-layer" style="background-image:url(./assets/images/banner/banner-2.jpg)"></div>
      <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(./assets/images/shape/pattern-1.png);"></div>
        <div class="pattern-2" style="background-image: url(./assets/images/shape/pattern-2.png);"></div>
      </div>
      <div class="auto-container">
        <div class="content-inner">
          <div class="pattern" style="background-image: url(./assets/images/shape/pattern-3.png);"></div>
          <h5><span>//</span>Really Life</h5>
          <h1>Execute happiness with Life Insurance.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <a [routerLink]="['/contato']" class="theme-btn-one">Contato</a>
        </div>
      </div>
    </div>

    <div class="slide-item">
      <div class="image-layer" style="background-image:url(./assets/images/banner/banner-3.jpg)"></div>
      <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(./assets/images/shape/pattern-1.png);"></div>
        <div class="pattern-2" style="background-image: url(./assets/images/shape/pattern-2.png);"></div>
      </div>
      <div class="auto-container">
        <div class="content-inner">
          <div class="pattern" style="background-image: url(./assets/images/shape/pattern-3.png);"></div>
          <h5><span>//</span>Really Life</h5>
          <h1>Execute happiness with Life Insurance.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <a [routerLink]="['/contato']" class="theme-btn-one">Contato</a>
        </div>
      </div>
    </div>

    <div class="slide-item">
      <div class="image-layer" style="background-image:url(./assets/images/banner/banner-4.jpg)"></div>
      <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(./assets/images/shape/pattern-1.png);"></div>
        <div class="pattern-2" style="background-image: url(./assets/images/shape/pattern-2.png);"></div>
      </div>
      <div class="auto-container">
        <div class="content-inner">
          <div class="pattern" style="background-image: url(./assets/images/shape/pattern-3.png);"></div>
          <h5><span>//</span>Really Life</h5>
          <h1>Execute happiness with Life Insurance.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <a [routerLink]="['/contato']" class="theme-btn-one">Contato</a>
        </div>
      </div>
    </div>

  </div>
</section>
