<app-page-title></app-page-title>

<section class="about-style-four">
  <div class="auto-container">
    <div class="upper-box">
      <div class="row clearfix">

        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
          <div id="content_block_8">
            <div class="content-box mr-10">
              <div class="sec-title">
                <h5><span>//</span>Seguro Acidentes Pessoais de Passageiros</h5>
                <h2>A consciência de quem dirige com responsabilidade</h2>
              </div>
              <div class="text">
                <p>O seguro de acidentes pessoais de passageiros (APP), tem como objetivo a indenização por danos
                  decorrentes de acidentes pessoais ocorridos aos passageiros, quando transportados em veículo do
                  segurado.</p>
                <p>O valor do capital segurado está associado ao plano que estiver vinculado, e sujeito ao regulamento
                  de nosso parceiro <b class="sec-title-b">BRASIL BENEFÍCIOS</b>.</p>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
          <div id="image_block_6">
            <div class="image-box">
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-59.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-60.png);"></div>
              </div>
              <figure class="image">
                <img src="assets/images/resource/seguro-app.png" alt="">
              </figure>
            </div>
          </div>
        </div>

      </div>
    </div>

    <app-information></app-information>

  </div>
</section>

<app-agent-section-alternat></app-agent-section-alternat>
