<div class="mobile-menu">
  <div class="menu-backdrop"></div>
  <div class="close-btn"><i class="fas fa-times"></i></div>

  <nav class="menu-box">
    <div class="nav-logo"><a [routerLink]="['/home']"><img src="./assets/images/footer-logo.png" alt="" title=""></a>
    </div>
    <div class="menu-outer">
      <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
    </div>
    <div class="contact-info">
      <h4>Contato</h4>
      <ul>
        <li>
          <a href="tel:8132654238">(81) 3265-4238</a>
        </li>
        <li>
          <a href="mailto:contato@qualyclubnordeste.com.br">contato@qualyclubnordeste.com.br</a>
        </li>
      </ul>
    </div>
    <div class="social-links">
      <ul class="clearfix">
        <li>
          <a href="https://www.facebook.com/Qualy-Club-Nordeste-105058631932262" target="_blank">
            <span class="fab fa-facebook-square"></span>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/qualyclubnordeste?utm_medium=copy_link" target="_blank">
            <span class="fab fa-instagram"></span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com" target="_blank">
            <span class="fab fa-twitter"></span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
