<app-page-title></app-page-title>

<section class="about-style-four">
  <div class="auto-container">
    <div class="upper-box">
      <div class="row clearfix">

        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
          <div id="content_block_8">
            <div class="content-box mr-10">
              <div class="sec-title">
                <h5><span>//</span>Assistência Vidros</h5>
                <h2>Aqueles danos do dia a dia, não se preocupe</h2>
              </div>
              <div class="text">
                <p>Reparo para trinco e quebra de vidros, com produtos de alta qualidade, fornecidos por nosso parceiro
                  CARGLASS, com opção de cobertura, de acordo com o plano escolhido, que pode estar limitada apenas a
                  para-brisa ou com a inclusão dos demais vidros, ou ainda, o serviço plus, que cobre todos os vidros,
                  faróis, retrovisores e lanternas. Serviço sujeito a coparticipação de até 25%.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
          <div id="image_block_6">
            <div class="image-box">
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-59.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-60.png);"></div>
              </div>
              <figure class="image">
                <img src="assets/images/resource/vidro.png" alt="">
              </figure>
            </div>
          </div>
        </div>

      </div>
    </div>

    <app-information></app-information>

  </div>
</section>

<app-agent-section-alternat></app-agent-section-alternat>
