<section class="page-title centred" style="background-image: url(assets/images/background/page-title.png);">
  <div class="auto-container">
    <div class="content-box">
      <div class="title">
        <h1>Serviços Top Of Mind</h1>
      </div>
      <ul class="bread-crumb clearfix">
        <li><a [routerLink]="['/home']">Home</a></li>
        <li>Serviços Top Of Mind</li>
      </ul>
    </div>
  </div>
</section>

<section class="about-style-four">
  <div class="auto-container">
    <div class="upper-box">
      <div class="row clearfix">
        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
          <div id="content_block_8">
            <div class="content-box mr-10">
              <div class="sec-title">
                <h5><span>//</span>About Company</h5>
                <h2>Homeowner's policy is a <br />insurance policy.</h2>
              </div>
              <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. enim minim veniam quis nostrud exercitation amco.</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                  pariatur.</p>
              </div>
              <div class="btn-box">
                <a [routerLink]="['/contato']" class="theme-btn-one">Contato</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
          <div id="image_block_6">
            <div class="image-box">
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-59.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-60.png);"></div>
              </div>
              <figure class="image">
                <img src="./assets/images/resource/about-5.jpg" alt="">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lower-box">
      <div class="text">
        <h2>What does home insurance cover?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla
          pariatur.</p>
        <ul class="list-item clearfix">
          <li>Pina & Associates Insurance</li>
          <li>Pina & Associates Insurance</li>
          <li>Pina & Associates Insurance</li>
          <li>Payment at Contingency</li>
          <li>Payment at Contingency</li>
          <li>Payment at Contingency</li>
          <li>Amount of Payment</li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="feature-section service-details-page sec-pad centred">
  <div class="auto-container">
    <div class="sec-title">
      <h5><span>//</span>Insurance Type</h5>
      <h2>What are the different types of <br />home insurance?</h2>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
        <div class="feature-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="pattern-layer">
              <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
              <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-27.png);"></div>
            </div>
            <div class="bg-layer" style="background-image: url(assets/images/resource/feature-1.jpg);"></div>
            <div class="icon-box">
              <i class="icon-icon-7"></i>
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-22.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-23.png);"></div>
                <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-25.png);"></div>
                <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-26.png);"></div>
              </div>
            </div>
            <h3><a href="javascript:void(0);">Building Insurance</a></h3>
            <p>Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incid idunt ut labore.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
        <div class="feature-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="pattern-layer">
              <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
              <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-27.png);"></div>
            </div>
            <div class="bg-layer" style="background-image: url(assets/images/resource/feature-2.jpg);"></div>
            <div class="icon-box">
              <i class="icon-icon-15"></i>
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-22.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-23.png);"></div>
                <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-25.png);"></div>
                <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-26.png);"></div>
              </div>
            </div>
            <h3><a href="javascript:void(0);">Tenants Insurance</a></h3>
            <p>Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incid idunt ut labore.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
        <div class="feature-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="pattern-layer">
              <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-24.png);"></div>
              <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-27.png);"></div>
            </div>
            <div class="bg-layer" style="background-image: url(assets/images/resource/feature-3.jpg);"></div>
            <div class="icon-box">
              <i class="icon-icon-16"></i>
              <div class="pattern">
                <div class="pattern-1" style="background-image: url(assets/images/shape/pattern-22.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/pattern-23.png);"></div>
                <div class="pattern-3" style="background-image: url(assets/images/shape/pattern-25.png);"></div>
                <div class="pattern-4" style="background-image: url(assets/images/shape/pattern-26.png);"></div>
              </div>
            </div>
            <h3><a href="javascript:void(0);">Landlord Insurance</a></h3>
            <p>Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incid idunt ut labore.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-agent-section-alternat></app-agent-section-alternat>
