<section class="contact-section bg-color-1">
  <div class="pattern-layer">
    <div class="pattern-1" style="background-image: url(./assets/images/shape/pattern-18.png);">
    </div>
    <div class="pattern-2" style="background-image: url(./assets/images/shape/pattern-19.png);">
    </div>
  </div>
  <figure class="image-layer wow slideInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms"><img
      src="./assets/images/resource/contact-1.png" alt=""></figure>
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-xl-6 col-lg-12 col-md-12 offset-xl-6 content-column">
        <div id="content_block_4">
          <div class="content-box ml-50">
            <div class="sec-title">
              <h5><span>//</span>Entre em Contato</h5>
              <h2>Entre em contato com nossa central de atendimento.</h2>
            </div>
            <div class="form-inner">
              <div class="pattern" style="background-image: url(./assets/images/shape/pattern-17.png);"></div>
              <h3>Mensagem</h3>

              <form action="#" method="post" class="default-form">
                <div class="form-group">
                  <input type="text" name="fname" placeholder="Nome" required="">
                </div>
                <div class="form-group">
                  <input type="text" name="lname" placeholder="Assunto" required="">
                </div>
                <div class="form-group">
                  <input type="email" name="email" placeholder="Email" required="">
                </div>
                <div class="form-group">
                  <input type="text" name="phone" placeholder="Celular" required="">
                </div>
                <div class="form-group">
                  <textarea name="message" placeholder="Mesagem..."></textarea>
                </div>
                <div class="form-group message-btn">
                  <button type="submit" class="theme-btn-one">Enviar</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
