<section class="agent-section">
  <div class="auto-container">
    <div class="inner-container bg-color-3">
      <div class="row clearfix">

        <div class="col-lg-6 col-md-12 col-sm-12 left-column">
          <div id="content_block_2">
            <div class="content-box">
              <h3>Encontre em Contato</h3>
              <div class="support-box">
                <div class="icon-box"><i class="fas fa-phone"></i></div>
                <h6>Telefone</h6>
                <h3>
                  <a href="tel:8132654238">(81) 3265-4238</a>
                </h3>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 right-column">
          <div id="content_block_7">
            <div class="content-box">
              <h3>Consultor Comercial Virtual</h3>
              <div class="support-box">
                <div class="icon-box">
                  <i class="nav-btn nav-toggler navSidebar-button clearfix icon-Menu"></i>
                </div>
                <h6>Acesse</h6>
                <a href="https://acesso.siprov.com.br/siprov-web/pub/271/veicular/adesaoMensalidade.jsf" target="_blank"
                  rel="noopener noreferrer">
                  <h3>Clique Aqui!</h3>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
