<section class="agent-section">
  <div class="auto-container">
    <div class="inner-container">
      <div class="row clearfix">
        <div class="col-lg-6 col-md-12 col-sm-12 left-column">
          <div id="content_block_2">
            <div class="content-box">
              <h3>Find an agent now</h3>
              <div class="support-box">
                <div class="icon-box"><i class="fas fa-phone"></i></div>
                <h6>Telephone</h6>
                <h3><a href="tel:11165458856">+(111) 65_458_856</a></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 right-column">
          <div id="content_block_3">
            <div class="content-box">
              <h3>Sign up for Email</h3>
              <form action="http://azim.commonsupport.com/Metlife/index.html" method="post" class="subscribe-form">
                <div class="form-group">
                  <input type="email" name="email" placeholder="Your Email" required="">
                  <button type="submit" class="theme-btn-one">Submit Now</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
