<div class="modal fade" id="planoPrataModal" tabindex="-1" role="dialog" aria-labelledby="planoPrataModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="planoPrataModalLabel">Plano Moto Prata</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <section class="about-style-four">
          <div class="auto-container">

            <div class="upper-box">
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                  <div id="content_block_8">
                    <div class="content-box mr-10">
                      <div class="sec-title">
                        <h5><span>//</span>Plano</h5>
                        <h2>Plano Moto Prata</h2>
                      </div>
                      <div class="text">
                        <p>O Plano de Rastreamento e Proteção Veicular <b class="sec-title-b">MOTO PRATA</b> é destinado
                          a veículos classificados
                          como MOTOS e indicados para associados que, desejam ter o seu patrimônio protegido contra
                          roubo e furto, <b class="sec-title-b">aliado a um completo serviço de assistência 24h, mas que
                            não dispensa serviços
                            complementares de assistência veicular</b>.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>

        <app-vantagem-plano-moto></app-vantagem-plano-moto>


      </div>

      <div class="modal-footer">
        <button type="button" class="theme-btn-one" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>
</div>
