<section class="news-section">
  <div class="pattern-layer">
    <div class="pattern-1" style="background-image: url(./assets/images/shape/pattern-5.png);">
    </div>
    <div class="pattern-2"></div>
  </div>
  <div class="auto-container">
    <div class="sec-title centred">
      <h5><span>//</span>Our News</h5>
      <h2>Latest news from <br />our blog</h2>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-6 col-sm-12 news-block">
        <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <figure class="image-box">
              <img src="./assets/images/news/news-1.jpg" alt="">
              <a href="blog-details.html"><i class="fas fa-search"></i></a>
            </figure>
            <div class="lower-content">
              <div class="pattern" style="background-image: url(./assets/images/shape/pattern-6.png);"></div>
              <h3><a href="blog-details.html">Which allows you to pay down your policy.</a></h3>
              <div class="admin-box">
                <figure class="admin-thumb"><img src="./assets/images/news/admin-1.png" alt="">
                </figure>
                <a href="index.html">By Admin</a>
                <span>September 25, 2020</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consecte adipisicing elit sed do.</p>
              <div class="btn-box">
                <a href="blog-details.html" class="theme-btn-two">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 news-block">
        <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <figure class="image-box">
              <img src="./assets/images/news/news-2.jpg" alt="">
              <a href="blog-details.html"><i class="fas fa-search"></i></a>
            </figure>
            <div class="lower-content">
              <div class="pattern" style="background-image: url(./assets/images/shape/pattern-6.png);"></div>
              <h3><a href="blog-details.html">What we are capable to usually discovered.</a></h3>
              <div class="admin-box">
                <figure class="admin-thumb"><img src="./assets/images/news/admin-2.png" alt="">
                </figure>
                <a href="index.html">By Admin</a>
                <span>September 24, 2020</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consecte adipisicing elit sed do.</p>
              <div class="btn-box">
                <a href="blog-details.html" class="theme-btn-two">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 news-block">
        <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <figure class="image-box">
              <img src="./assets/images/news/news-3.jpg" alt="">
              <a href="blog-details.html"><i class="fas fa-search"></i></a>
            </figure>
            <div class="lower-content">
              <div class="pattern" style="background-image: url(./assets/images/shape/pattern-6.png);"></div>
              <h3><a href="blog-details.html">Reasons to explan fast business builder.</a></h3>
              <div class="admin-box">
                <figure class="admin-thumb"><img src="./assets/images/news/admin-3.png" alt="">
                </figure>
                <a href="index.html">By Admin</a>
                <span>September 23, 2020</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consecte adipisicing elit sed do.</p>
              <div class="btn-box">
                <a href="blog-details.html" class="theme-btn-two">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
