<div class="header-top bg-color-2">
  <div class="auto-container">
    <div class="top-inner clearfix">
      <ul class="info pull-left clearfix">
        <li><i class="fas fa-phone"></i><a href="tel:8132654238">(81) 3265-4238</a></li>
        <li><i class="fas fa-envelope"></i><a
            href="mailto:contato@qualyclubnordeste.com.br">contato@qualyclubnordeste.com.br</a></li>
      </ul>
      <ul class="social-links pull-right clearfix">
        <li>
          <a href="https://www.facebook.com/Qualy-Club-Nordeste-105058631932262" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/qualyclubnordeste?utm_medium=copy_link" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/Qualyclubnorde1" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
